@import "tailwindcss";




/* Sticky header effect */
.scrolled-past-header .header-navigation {
  box-shadow: 0 1px 6px rgba(30, 30, 30, 0.1);
  position: sticky;
  top: 0;
  z-index: 30;
}


/* Add to your global.css or tailwind.css */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}